<div ng-controller="DiploAuditLogEditController as vm" class="clearfix">

    <umb-editor-view footer="false">

        <umb-editor-header name="'Audit Log Viewer'"
                           name-locked="true"
                           on-back=""
                           show-back-button="false"
                           hide-icon="true"
                           hide-description="true"
                           hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>

            <div id="auditLog">

                <form class="form-inline" ng-submit="vm.search()">

                    <div class="input-prepend">
                        <label class="add-on" for="d-event-type" aria-label="Event Type" title="The type of event"><i class="icon-activity"></i></label>
                        <select id="d-event-type" class="form-control input-medium" ng-options="item as item for item in vm.eventTypes" ng-model="vm.criteria.eventType" ng-change="vm.logTypeChange()">
                            <option value="">- Event Type -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <label for="d-performer" class="add-on" aria-label="Perfoming User" title="The user who performed the event"><i class="icon-user-female"></i></label>
                        <select id="d-performer" class="form-control input-medium" ng-options="item as item.Username for item in vm.userNames track by item.Id" ng-model="vm.criteria.performingUser" ng-change="vm.logTypeChange()">
                            <option value="">- Performer -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <label for="d-affected" class="add-on" aria-label="Affected User" title="The user affected by the event"><i class="icon-umb-users"></i></label>
                        <select id="d-affected" class="form-control input-medium" ng-options="item as item.Username for item in vm.userNames track by item.Id" ng-model="vm.criteria.affectedUser" ng-change="vm.logTypeChange()">
                            <option value="">- Affected -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <label for="d-search-term" class="add-on" aria-label="Search logs" title="Search the audit trail"><i class="icon-search"></i></label>
                        <input id="d-search-term" type="search" class="form-control input-medium" placeholder="Search..." ng-keydown="$event.keyCode === 13 && vm.searchOnEnter($event)" ng-model="vm.criteria.searchTerm">
                        <span class="add-on btn" title="Clear" aria-label="Clear search" ng-show="vm.criteria.searchTerm" ng-click="vm.criteria.searchTerm = null; vm.logTypeChange()"><i class="icon-delete"></i></span>
                    </div>

                    <umb-button
                        action="vm.search()"
                        type="button"
                        button-style="success"
                        state="vm.buttonState"
                        label="Search"
                        disabled="vm.buttonState !== 'init'">
                    </umb-button>

                    <div class="pull-right">
                        <div class="input-prepend">
                            <label for="d-from-date" class="add-on" aria-label="From Date"><i class="icon-calendar-alt"></i> From</label>
                            <input id="d-from-date" type="date" class="form-control input-medium" ng-model="vm.criteria.dateFrom" ng-change="vm.logTypeChange()" />
                        </div>

                        <div class="input-prepend">
                            <label for="d-to-date" class="add-on" aria-label="To Date"><i class="icon-calendar-alt"></i> To</label>
                            <input id="d-to-date" type="date" class="form-control input-medium" ng-model="vm.criteria.dateTo" ng-change="vm.logTypeChange()" />
                        </div>

                        <button ng-click="vm.reload()" class="btn icon-refresh" aria-label="Reload" title="Reload log"></button>
                    </div>
                </form>

                <div class="umb-listview">

                    <umb-load-indicator ng-show="vm.isLoading"></umb-load-indicator>

                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 15%" />
                            <col style="width: 15%" />
                            <col style="width: 10%" />
                            <col style="width: 20%" />
                            <col style="width: 20%" />
                            <col style="width: 20%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('eventDateUtc')" title="Order by event date (UTC)">Date</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'eventDateUtc'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('performingDetails')" title="Order by performing user">Performer</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'performingDetails'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('performingIp')" title="Order by perfoming IP address">IP</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'performingIp'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('affectedDetails')" title="Order by affected user">Affected</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'affectedDetails'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('eventType')" title="Order by event type">Event</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'eventType'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('eventDetails')" title="Order by event details">Details</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'eventDetails'"></i>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="l in vm.logData" ng-class="{reveal: l.LogComment.length > 0}" ng-click="l.IsOpen = !l.IsOpen && l.LogComment.length > 0">
                                <td title="{{l.EventDateUtc | date: 'medium'}}">{{l.EventDateUtc | date:'yyyy-MM-dd hh:mm:ss'}}<small>{{ l.EventDateUtc | date:'.sss' }}</small></td>
                                <td>{{l.PerformingDetails}}</td>
                                <td><code>{{l.PerformingIP}}</code></td>
                                <td>{{l.AffectedDetails}}</td>
                                <td><code>{{l.EventType}}</code></td>
                                <td>{{l.EventDetails}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-show="vm.logData.length > 0">
                                <th>
                                    <div class="pagination">
                                        Entries {{vm.rangeFrom}}-{{vm.rangeTo}} of {{vm.totalItems}}
                                    </div>
                                </th>
                                <th>
                                    <div class="pagination">
                                        <select class="form-control input-mini" aria-label="Page Size" ng-options="item as item for item in vm.pageSizeList" ng-model="vm.criteria.itemsPerPage" ng-change="vm.logTypeChange()"></select> per page
                                    </div>
                                </th>
                                <th colspan="4">
                                    <div class="pagination pagination-centered" ng-show="vm.totalPages > 1" aria-label="Pagination">
                                        <umb-pagination page-number="vm.criteria.currentPage"
                                                        total-pages="vm.totalPages"
                                                        on-next="vm.nextPage"
                                                        on-prev="vm.prevPage"
                                                        on-go-to-page="vm.setPage">
                                        </umb-pagination>
                                    </div>
                                </th>
                            </tr>
                            <tr ng-hide="vm.isLoading || vm.logData.length > 0">
                                <td colspan="6">
                                    <p class="text-center">
                                        <strong>No log records found for your selected criteria.</strong>
                                        <br />
                                        <br />
                                        <umb-button action="vm.reload()"
                                                    type="button"
                                                    button-style="action"
                                                    shortcut="ctrl+r"
                                                    label="Reset Filters">
                                        </umb-button>
                                    </p>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>