<div ng-controller="DiploAuditTrailEditController as vm">
    
    <umb-header>

        <h1>
            <span class="umb-panel-header-name">Audit Trail Log Viewer</span>
        </h1>
        <p id="audit-log-intro">View, search and filter the Umbraco Audit table</p>
    </umb-header>


    <div class="umb-panel-body" id="auditLog">
        <div class="umb-pane">

            <div class="umb-sub-header">

                <form class="form-inline">

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-activity"></i></span>
                        <select class="form-control input-medium" ng-options="item as item for item in vm.eventTypes" ng-model="vm.criteria.eventType" ng-change="vm.logTypeChange()">
                            <option value="">- Event Type -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user-female"></i></span>
                        <select class="form-control input-medium" ng-options="item as item.Username for item in vm.userNames track by item.Id" ng-model="vm.criteria.performingUser" ng-change="vm.logTypeChange()">
                            <option value="">- Performer -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user-female"></i></span>
                        <select class="form-control input-medium" ng-options="item as item.Username for item in vm.userNames track by item.Id" ng-model="vm.criteria.affectedUser" ng-change="vm.logTypeChange()">
                            <option value="">- Affected -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input type="search" class="form-control input-medium" placeholder="Type to search..." ng-model="vm.criteria.searchTerm" ng-change="vm.search(vm.criteria.searchTerm)">
                        <span class="add-on diplo-button delete" ng-show="vm.criteria.searchTerm" ng-click="vm.criteria.searchTerm = null; vm.logTypeChange()"><i class="icon-delete"></i></span>
                    </div>

                    <div class="pull-right">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar-alt"></i> From</span>
                            <input type="date" class="form-control input-medium" ng-model="vm.criteria.dateFrom" ng-change="vm.logTypeChange()" />
                        </div>

                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar-alt"></i> To</span>
                            <input type="date" class="form-control input-medium" ng-model="vm.criteria.dateTo" ng-change="vm.logTypeChange()" />
                        </div>
                    </div>

                </form>

            </div>

            <div class="umb-listview">

                <umb-load-indicator ng-show="vm.isLoading"></umb-load-indicator>

                <table class="table table-striped">
                    <colgroup>
                        <col style="width: 15%" />
                        <col style="width: 15%" />
                        <col style="width: 10%" />
                        <col style="width: 20%" />
                        <col style="width: 20%" />
                        <col style="width: 20%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="vm.order('eventDateUtc')" title="Order by event date (UTC)">Date</a>
                                <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'eventDateUtc'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="vm.order('performingDetails')" title="Order by performing user">Performer</a>
                                <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'performingDetails'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="vm.order('performingIp')" title="Order by perfoming IP address">IP</a>
                                <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'performingIp'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="vm.order('affectedDetails')" title="Order by affected user">Affected</a>
                                <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'affectedDetails'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="vm.order('eventType')" title="Order by event type">Event</a>
                                <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'eventType'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="vm.order('eventDetails')" title="Order by event details">Details</a>
                                <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'eventDetails'"></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in vm.logData" ng-class="{reveal: l.LogComment.length > 0}" ng-click="l.IsOpen = !l.IsOpen && l.LogComment.length > 0">
                            <td title="{{l.EventDateUtc | date:'yyyy-MM-dd hh:mm:ss'}}">{{l.EventDateUtc | date: 'medium'}}<small>{{ l.EventDateUtc | date:'.sss' }}</small></td>
                            <td>{{l.PerformingDetails}}</td>
                            <td><code>{{l.PerformingIP}}</code></td>
                            <td>{{l.AffectedDetails}}</td>
                            <td><code>{{l.EventType}}</code></td>
                            <td>{{l.EventDetails}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-show="vm.logData.length > 0">
                            <th>
                                <div class="pagination">
                                    Entries {{vm.rangeFrom}}-{{vm.rangeTo}} of {{vm.totalItems}}
                                </div>
                            </th>
                            <th>
                                <div class="pagination">
                                    <select class="form-control input-mini" aria-label="Page Size" ng-options="item as item for item in vm.pageSizeList" ng-model="vm.criteria.itemsPerPage" ng-change="vm.logTypeChange()"></select> per page
                                </div>
                            </th>
                            <th colspan="4">
                                <div class="pagination pagination-centered" ng-show="vm.totalPages > 1" aria-label="Pagination">
                                    <umb-pagination page-number="vm.criteria.currentPage"
                                                    total-pages="vm.totalPages"
                                                    on-next="vm.nextPage"
                                                    on-prev="vm.prevPage"
                                                    on-go-to-page="vm.setPage">
                                    </umb-pagination>
                                </div>
                            </th>
                        </tr>
                        <tr ng-hide="vm.isLoading || vm.logData.length > 0">
                            <td colspan="6">
                                <p class="text-center">
                                    <strong>No log records found for your selected criteria.</strong>
                                    <br />
                                    <br />
                                    <umb-button action="vm.reload()"
                                                type="button"
                                                button-style="action"
                                                shortcut="ctrl+r"
                                                label="Reset Filters">
                                    </umb-button>
                                </p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>