
.umb-modal.fade.in.diplo-modal {
    margin-left: 0;
}

@media only screen and (min-width: 1400px) {
    #audit-logdetail {
        width: 840px !important;
        margin-left: -840px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #audit-logdetail {
        width: 600px !important;
        margin-left: -600px !important;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    #audit-logdetail {
        width: 500px !important;
        margin-left: -500px !important;
    }
}

#auditLog tbody a {
    cursor: pointer;
}

#audit-log-intro {
    color: #666;
    padding-left: 5px;
}

#auditLog .diplo-button {
    cursor: pointer;
    color: #666;
}

    #auditLog .diplo-button:hover {
        background-color: #e4e4e4;
        color: #000;
    }

#auditLog small {
    color: #ccc;
}

#auditLog tr:hover a {
    text-decoration: underline;
}

/* Detail */

#audit-logdetail h3 {
    margin: 2px;
}

#audit-logdetail .umb-scrollable {
    z-index: 9999;
}

#audit-logdetail .umb-panel-footer .btn {
    z-index: 99999;
}

#audit-logdetail .btn-default {
    margin-top: 9px;
}

#audit-logdetail small {
    color: #ccc;
}
