<div ng-controller="DiploContentLogEditController as vm" class="clearfix">

    <umb-editor-view footer="false">

        <umb-editor-header name="'Content Log Viewer'"
                           name-locked="true"
                           on-back=""
                           show-back-button="false"
                           hide-icon="true"
                           hide-description="true"
                           hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>

            <div id="auditLog">

                <form class="form-inline">

                    <div class="input-prepend">
                        <label class="add-on" for="al-logtype" aria-label="Log Type" title="The type of log entry"><i class="icon-activity"></i></label>
                        <select id="al-logtype" class="form-control input-medium" ng-options="item as item for item in vm.logTypes" ng-model="vm.criteria.logTypeName" ng-change="vm.logTypeChange()">
                            <option value="">- Log Type -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <label class="add-on" for="al-username" aria-label="Username" title="The user who made the change"><i class="icon-umb-users"></i></label>
                        <select id="al-username" class="form-control input-medium" ng-options="item as item for item in vm.userNames" ng-model="vm.criteria.logUserName" ng-change="vm.logTypeChange()">
                            <option value="">- Username -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <label for="al-search-term" class="add-on" aria-label="Search term" title="Search the logs"><i class="icon-search"></i></label>
                        <input id="al-search-term" type="search" class="form-control input-medium" placeholder="Type to search..." ng-model="vm.criteria.searchTerm" ng-change="vm.search(vm.criteria.searchTerm)">
                        <span class="add-on btn" title="Clear" aria-label="Clear search" ng-show="vm.criteria.searchTerm" ng-click="vm.criteria.searchTerm = null; vm.logTypeChange()"><i class="icon-delete"></i></span>
                    </div>

                    <div class="input-prepend">
                        <label for="al-node-id" class="add-on" aria-label="The page Id" title="The content node (page) that the change happened on"><i class="icon-umb-content"></i></label>
                        <input id="al-node-id" type="number" class="form-control input-small" placeholder="Node Id" title="{{vm.criteria.nodeName}}" ng-model="vm.criteria.nodeId" ng-change="vm.logTypeChange()" />
                        <span class="add-on btn" ng-click="vm.openContentPicker()" title="Select page"><span class="icon-colorpicker"></span></span>
                        <span class="add-on btn" title="Clear" aria-label="Clear node" ng-show="vm.criteria.nodeId" ng-click="vm.criteria.nodeId = null; vm.logTypeChange()"><span class="icon-delete"></span></span>
                    </div>

                    <div class="pull-right">
                        <div class="input-prepend">
                            <label for="al-from-date" class="add-on" aria-label="From Date"><i class="icon-calendar-alt"></i> From</label>
                            <input id="al-from-date" type="date" class="form-control input-medium" ng-model="vm.criteria.dateFrom" ng-change="vm.logTypeChange()" />
                        </div>

                        <div class="input-prepend">
                            <label for="al-to-date" class="add-on" aria-label="To Date"><i class="icon-calendar-alt"></i> To</label>
                            <input id="al-to-date" type="date" class="form-control input-medium" ng-model="vm.criteria.dateTo" ng-change="vm.logTypeChange()" />
                        </div>
                    </div>
                </form>

                <div class="umb-listview">

                    <umb-load-indicator ng-show="vm.isLoading"></umb-load-indicator>

                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 20%" />
                            <col style="width: 15%" />
                            <col style="width: 15%" />
                            <col style="width: 10%" />
                            <col style="width: 25%" />
                            <col style="width: 10%" />
                            <col style="width: 5%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('L.Datestamp')" title="Order by date">Date</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'L.Datestamp'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('U.userName')" title="Order by username">User</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'U.userName'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('L.logHeader')" title="Order by log action">Action</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'L.logHeader'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('L.nodeId')" title="Order by node Id">Node</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'L.nodeId'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('N.text')" title="Order by node title">Content</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'N.text'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('N.nodeObjectType')" title="Order by content type">Type</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'N.nodeObjectType'"></i>
                                </td>
                                <td>
                                    <a href="#" prevent-default class="sortable" ng-click="vm.order('CT.icon')" title="Order by document type">Icon</a>
                                    <i class="icon" ng-class="{'icon-navigation-up': vm.criteria.reverse, 'icon-navigation-down': !vm.criteria.reverse}" ng-show="vm.criteria.sort == 'CT.icon'"></i>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="l in vm.logData" ng-class="{reveal: l.LogComment.length > 0}" ng-click="l.IsOpen = !l.IsOpen && l.LogComment.length > 0">
                                <td title="{{l.DateStamp | date: 'medium'}}">{{l.DateStamp | date:'yyyy-MM-dd hh:mm:ss'}}<small>{{ l.DateStamp | date:'.sss' }}</small></td>
                                <td>{{l.UserName}}</td>
                                <td>{{l.LogHeader}} <span class="icon-eye" ng-if="l.LogComment.length > 0"></span></td>
                                <td><span ng-show="l.NodeId > 0"><a ng-href="{{vm.getEditUrl(l)}}" title="Edit" target="_blank">{{l.NodeId}}</a></span></td>
                                <td>{{l.Text}}</td>
                                <td>{{l.TypeDesc}}</td>
                                <td><span class="{{l.Icon}}" title="{{l.Alias}}"></span></td>
                            </tr>
                            <tr ng-repeat-end ng-if="l.IsOpen">
                                <td colspan="7">
                                    <p>{{l.LogComment}}</p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-show="vm.logData.length > 0">
                                <th>
                                    <div class="pagination">
                                        Entries {{vm.rangeFrom}}-{{vm.rangeTo}} of {{vm.totalItems}}
                                    </div>
                                </th>
                                <th>
                                    <div class="pagination">
                                        <select class="form-control input-mini" aria-label="Page Size" ng-options="item as item for item in vm.pageSizeList" ng-model="vm.criteria.itemsPerPage" ng-change="vm.logTypeChange()"></select> per page
                                    </div>
                                </th>
                                <th colspan="5">
                                    <div class="pagination pagination-centered" ng-show="vm.totalPages > 1" aria-label="Pagination">
                                        <umb-pagination page-number="vm.criteria.currentPage"
                                                        total-pages="vm.totalPages"
                                                        on-next="vm.nextPage"
                                                        on-prev="vm.prevPage"
                                                        on-go-to-page="vm.setPage">
                                        </umb-pagination>
                                    </div>
                                </th>
                            </tr>
                            <tr ng-hide="vm.isLoading || vm.logData.length > 0">
                                <td colspan="7">
                                    <p class="text-center"><strong>No log records found for your selected criteria.</strong>
                                        <br />
                                        <br />
                                        <umb-button action="vm.reload()"
                                                    type="button"
                                                    button-style="action"
                                                    shortcut="ctrl+r"
                                                    label="Reset Filters">
                                        </umb-button>
                                    </p>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>